# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron build
dist/

# Python
__pycache__/
*.pyc
*.pyo

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log

# Temporary files
*.tmp
*.swp

# Ignore text files if not needed
*.txt